@import "../src/sass/structure.scss";

*{
	margin: 0;
	padding: 0;
}

body{
	background: rgb(230,230,230);
	font-family: 'Arial'
}

.day{
	&.ghost{
		opacity: 0.5;
	}
	&.today{
		background-color: red;
	}
}